### Python programming fundamentals

- #### Arithmetic Operations

In [44]:
2+3 #Addition
5-2 #Subtraction
4*2 #Multiplication
8/4 #Division
7//3 #Floor Division
9%4 #Modulus
2**3 #Exponentiation

8

#### Solving a multi-step problem

In [45]:
# A grocery store sells ice_bag for

#### Concatenation of strings 
Two or more strings can be joined or concatenated using + operator. 
" " empty adds space character between words.

In [46]:
# Concatenation in string 
full_name = "Khushi"
greeting = "Hello," + full_name + "!"
print(greeting)
print (greeting + " " + full_name + "!")
print (greeting * 3)
print (greeting + full_name)

Hello,Khushi!
Hello,Khushi! Khushi!
Hello,Khushi!Hello,Khushi!Hello,Khushi!
Hello,Khushi!Khushi

Sting in py. has many Built-in methods to manipulate them.

In [47]:
today = "Monday"
(today.lower()) # Convert to lowercase
(today.upper()) # Convert to uppercase

'MONDAY'

In [48]:
"monday".capitalize() # Capitalize the first letter

'Monday'

In [49]:
"monday".replace("mon","tue") # Replace substring

'tueday'

In [50]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",") # Split string into list 
  
a_long_time = "    to wait   "
a_long_time.strip() # Remove leading and trailing whitespace

'to wait'

#### .format ??

In [51]:
# Input Variables 
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500 

# Template for output message 
output_template = """If a grocery store sells ice bags at $ {} per bag , with a profit margin of {} % , then the total profit it makes by selling {} ice bags is $ {}"""
print (output_template)

If a grocery store sells ice bags at $ {} per bag , with a profit margin of {} % , then the total profit it makes by selling {} ice bags is $ {}

In [52]:
# Inserting values into the template
total_profit = number_of_bags * cost_of_ice_bag * profit_margin 
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)
print (output_message)

If a grocery store sells ice bags at $ 1.25 per bag , with a profit margin of 20.0 % , then the total profit it makes by selling 500 ice bags is $ 125.0

the placeholders {} in the output_template string are replaced with the arguments provided to the .format method

2. String concatenation operator + to combine strings using str function.

In [53]:
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
"If a grocery store sells ice bags at $ " + str(cost_of_ice_bag) + " with a profit margin of " + str(profit_margin*100) + " % , then the total profit it makes by selling " + str(number_of_bags) + " ice bags is $ " + str(total_profit) # She sells ice bags at $1.25 per bag with a profit margin of 20% . If she sells 500 ice bags , what is her total profit?

'If a grocery store sells ice bags at $ 1.25 with a profit margin of 20.0 % , then the total profit it makes by selling 500 ice bags is $ 125.0'

In [54]:
str(23)

'23'

In [55]:
first_name = "Khushi"

In [56]:
first_name == "Arora"

False

In [57]:
first_name == "Khushi"

True

In [58]:
first_name != "Riddhi"

True

#### List

In [59]:
fruits = ["apple", "banana", "cherry"]

In [60]:
fruits

['apple', 'banana', 'cherry']

In [61]:
type(fruits)

list

In [62]:
# List can consist of different data types   
a_list = [23, 'hello' , 3.14, True]

#### Length of str. or list

In [63]:
len(a_list)

4

In [64]:
a_list[1] # Accessing element at index 1

'hello'

- A new value can be added to the end of a list using the append method

In [65]:
a_list.append("new item") # Adding new item to the list
print(a_list)

[23, 'hello', 3.14, True, 'new item']

- A new value also can be inserted at specific index using insert method

In [66]:
a_list.insert(2, "inserted item") # Inserting item at index 2
print(a_list)

[23, 'hello', 'inserted item', 3.14, True, 'new item']

- Remove a value from the list using remove method.

In [67]:
a_list.remove(3.14) # Removing item with value 3.14
print(a_list)

[23, 'hello', 'inserted item', True, 'new item']

- To remove an element from specific index , use pop method

In [68]:
a_list.pop(0) # Removing item at index 0
print(a_list)

['hello', 'inserted item', True, 'new item']

- Test whether a list contains value using in operator

In [69]:
'hello' in a_list  # Check if 'hello' is in the list

True

### Concatenation
- To combine two or more lists , use the + operator

In [70]:
one_more_list = a_list + [42, "world", False]
print(one_more_list)

['hello', 'inserted item', True, 'new item', 42, 'world', False]

- To create a copy of list , use .copy method

In [71]:
one_more_list.copy()    
print(one_more_list)

['hello', 'inserted item', True, 'new item', 42, 'world', False]

#### Tuples
These are immutable thus they cannot be modified once they are created.
- tuples ()
- list []

In [72]:
fruits = ('apple', 'banana', 'cherry')

In [73]:
# Check no. of elements in tuple
len(fruits)

3

In [74]:
# Get an element (positive index)
fruits[0]

'apple'

In [75]:
# Get an element (negative index)
fruits[-2]

'banana'

In [76]:
a_tuple = [23, "hello", False , None , 23 , 37  ]
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

- Built-in methods for tuples : .count and .index

In [77]:
# help # to check the documentation function 
?a_tuple.index

Signature: a_tuple.index(value, start=0, stop=9223372036854775807, /)
Docstring:
Return first index of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

Within Jupyter notebooks if the code cell starts with ? or help and type the name of a function or method, upon execution you will see the documentation for the method/function in a window

#### Dictionary 
An unodered collection of values . There is no order how we access those values.
Each item in dict. is stored as key:value pairs 
- Key is used to retrieve values from dict. 
- type : dict 
- represented in {} <br>
Dictionary stores many pieces of information eg details about a person , in a single variable.

In [78]:
person1 = {
    'name': 'Khushi' ,
    'sex' : 'Female' ,
    'age': 23 ,
    'married' : False 
}

In [79]:
person1

{'name': 'Khushi', 'sex': 'Female', 'age': 23, 'married': False}

Dictionary can also be created using dict functions

In [80]:
person2 = dict(name= 'Tane' , sex='Female', age = 27)

In [81]:
type(person1)

dict

To access the value in dictionary we do it by providing the key. So we need to know what keys do wewant to access using [ ]

In [82]:
person1 ['name']

'Khushi'

If the key isn't present in the dictionary , then a KeyError is returned , to avoid this .get method is used

In [83]:
person1.get("name")

'Khushi'

The get method also accepts a default value which is returned if the key is not present in the dictionary 
e.g : "address" ; not present returns 'unknown' if - 
person1.get("address" , "unknown")

In [84]:
person1.get('address','unknown')

'unknown'

In [85]:
'name' in  person1 # Checks whether a key is present or not

True

In [88]:
person1['address'] = '1,penny lane '
print(person1)

{'name': 'Khushi', 'sex': 'Female', 'age': 23, 'married': False, 'address': '1,penny lane '}

### Methos in dictionary
- keys()
- values()
- items()
- .items()[index]